.about {
  font-family: Conthrax;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 43px;
  letter-spacing: 0.2em;
  color: #cf447f;
  width: 100%;
  margin-left: 13%;
  margin-top: 15%;
  height: 10vw;
  z-index: 1;
}

.about-con {
  display: flex;
  height: 23vw;
  margin-bottom: 2%;
  text-align: center;
}

.about-description {
  width: 70%;
  height: auto;
  border: 1px solid #cf447f;
  text-align: left;
  border-radius: 20px;
  font-family: Unispace;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.2em;
  color: #ffffff;
  padding: 5%;
  margin: auto 10%;
  z-index: 1;
  position: relative;
  line-height: 25px;
}

@media (max-width: 800px) {
  .about-description {
    margin-top: 8vw;
    font-size: 10px;
  }
  .container2 {
    margin: 0vw 5vw 20vh 5vw;
  }
  .about {
    font-size: 25px;
  }
}
