/* .container4 {
  background-image: url(../assets/img/website_bg_1.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 0, 50% 0, 100% 0;
  background-color: rgba(54, 56, 58, 0.9); 
  background-blend-mode: multiply;
} */

@media (max-width: 768px) {
  .container4 {
    background-size: cover;
    background-position: center;
  }
}
