@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");

@font-face {
  font-family: "Conthrax";
  src: url("../assets/fonts/conthrax-sb.otf");
}

@font-face {
  font-family: "Unispace";
  src: url("../assets/fonts/unispace.otf");
}

@font-face {
  font-family: "CA Prologue W00 Heavy";
  src: url("../assets/fonts/ca_prologue_heavy.otf");
}

.navbar-items {
  font-family: "Unispace";
  font-style: normal;
  font-weight: 700;
  font-size: 1.6vh;
  color: #8d8d8d;
  text-transform: capitalize;
  margin-left: 5%;
}
.man {
  height: 35vw;
  position: absolute;
  z-index: 0;
}

.left-top-planet {
  width: 20vh;
  height: 20vh;
  z-index: 1;
}
.right-planet {
  width: 17vh;
  height: 15vh;
  margin-right: 35%;
  z-index: 1;
}
.head {
  width: 60%;
  height: 20vh;
  margin-left: 15vw;
  z-index: 1;
}
.home-heading {
  font-family: Conthrax;
  color: #f1227a;
  height: auto;
  font-weight: 600;
  font-size: 7vh;
  letter-spacing: 0.5vw;
}

.home-description {
  margin-top: 2vh;
  font-family: Conthrax;
  color: white;
  font-weight: 600;
  font-size: 4vh;
  letter-spacing: 0.4vw;
  word-spacing: 1.5vw;
}

.small-planet {
  margin-left: 12%;
  height: 10vh;
  z-index: 1;
}

@media (max-width: 576px) {
  .logo {
    width: 60px !important;
  }
  .hidden-on-lg {
    display: none;
  }
}

@media (max-width: 1150px) {
  .container {
    height: 60vh;
  }

  .left-top-planet {
    width: 120px !important;
    height: 120px !important;
  }
  .home-heading {
    font-size: 4vh;
  }
  .home-description {
    font-size: 2.5vh;
  }
  .right-planet {
    display: none;
  }
  .small-planet {
    display: none;
  }
}
