.container3 {
  background-image: url(../asserts/img/Background-image.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 0, 50% 0, 100% 0;
  background-color: rgba(54, 56, 58, 0.9);
  background-blend-mode: multiply;
}
