.product-data {
  width: 70%;
  height: auto;
  display: flex;
  justify-content: center;
  margin: auto;
  z-index: 1;
}

.products {
  font-family: Conthrax;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 43px;
  letter-spacing: 0.2em;
  color: #cf447f;
  width: 100%;
  margin-top: 15%;
  margin-bottom: 8%;
  z-index: 1;
}

@media (max-width: 1000px) {
  .product-data {
    flex-direction: column;
  }
}

@media (max-width: 800px) {
  .container3 {
    margin: 0vw 5vw 10vh 5vw;
  }
  .products {
    font-size: 25px;
  }
  .product-data {
    text-align: justify;
  }
}
