/* .container4 {
  background-image: url(../assets/img/website_bg_1.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 0, 50% 0, 100% 0;
   background-color: rgba(105, 109, 113, 0.9); 
  background-blend-mode: multiply;
} */

.services-data {
  width: 80%;
  height: auto;
  display: flex;
  justify-content: center;
  margin: auto;
  z-index: 1;
}

.services {
  font-family: Conthrax;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 43px;
  letter-spacing: 0.2em;
  color: #cf447f;
  width: 100%;
  margin-top: 15%;
  margin-left: 15%;
  margin-bottom: 8%;
  z-index: 1;
}

@media (max-width: 1150px) {
  .services-data {
    flex-direction: column;
  }
}

@media (max-width: 800px) {
  .container4 {
    margin: 0vw 5vw 20vh 5vw;
  }
  .services {
    font-size: 25px;
  }
  .services-data {
    width: 70%;
  }
}
