.trusted-by-box {
  width: 70%;
  height: auto;
  border: 1px solid #cf447f;
  text-align: left;
  border-radius: 20px;
  font-family: Unispace;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.2em;
  color: #ffffff;
  padding: 5%;
  margin: auto 10%;
  z-index: 1;
  line-height: 25px;
}

.trusted-planet {
  width: 15vw;
  height: 10vw;
  z-index: 1;
}
.increaseSize {
  display: flex;
  height: 17vh;
  text-align: center;
  z-index: 1;
}

.trusted-by {
  font-family: Conthrax;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 43px;
  letter-spacing: 0.2em;
  color: #cf447f;
  width: 100%;
  margin-right: 13%;
  height: 10vw;
  z-index: 1;
}
.mobile-heading {
  display: none;
}
.trusted-box {
  position: relative;
  color: white;
  z-index: 1;
}

@media (max-width: 800px) {
  .increaseSize {
    height: 7vh;
  }
  .trusted-by-box {
    font-size: 10px;
  }
  .container1 {
    margin: 0vw 5vw 20vh 5vw;
  }

  .trusted-by {
    font-size: 25px;
  }
}
